{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="modal fade action-sheet" id="fundActionSheet" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius:10px;">
            <div class="modal-header">
                <h5 class="modal-title">Fund Wallet</h5>
            </div>
            <div class="modal-body">
                <div class="action-sheet-content">
                    

                        <div class="form-group basic">
                            <div class="input-wrapper">
                               
                                <div class="text-center fs-12 mt-4 mb-4">
              
                                    <img class="text-center" src="{% static 'download.png' %}" height="200px" width="200px" alt="">
                                    <h4 class="text-center text-primary fs-12 mt-4">Wallet QR Code</h4>
                                
                                  </div>
                            </div>
                        </div>

                        <form  method="POST" action="{% url 'core:deposit' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group basic">
                                    <div class="input-wrapper">
                                        <label class="label" for="account2">Crypto</label>
                                <select name="crypto" required="required" class="form-control custom-select" onchange="myC()" id="crypto">
                                    <option value="" selected disabled>Select Crypto</option>
                                      <option  value="Bitcoin">Bitcoin</option>
                                      <option  value="Ethereum">Ethereum</option>
                                      <option  value="USDT">USDT</option>
                                </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group basic">
                                    <div class="input-wrapper">
                                        <label class="label" for="currency2">Wallet Address</label>
                                        <input name="wallet_id" type="text" class="form-control input-lg" id="wallet-address" required
                                        value="" readonly>
                                        <button class="btn btn-primary clipboard-icon clipboard-box"
                                                data-clipboard-target="#wallet-address"  onclick="myFunction()" title="">COPY
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                       
                        <div class="form-group basic">
                            <label class="label">Enter Amount</label>
                            <div class="input-group mb-2">
                                <span class="input-group-text" id="basic-addon1">$</span>
                                <input required='required' name='amount' type="number" class="form-control" placeholder="Enter an amount"
                                    min="100">
                            </div>
                        </div>
                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" for="text11">Transaction ID</label>
                                <input required='required' name='trn_id' type="text" class="form-control" id="text11"
                                    placeholder="Enter Transaction ID">
                               
                            </div>
                        </div>
                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" for="text11">Transaction Proof</label>
                                <input type="file" class="form-control" id="text11d" name="trn_proof" required='required'> 
                               
                            </div>
                        </div>


                        <div class="form-group basic">
                            <button type="submit" class="btn btn-primary btn-block btn-lg"
                            onclick="return confirm('Are you sure you want to proceed?')" >Send</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
    /* Get the text field */
    var content = document.getElementById('wallet-address');

content.select();
document.execCommand('copy');

alert("Copied!");
}
  </script>    
  
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    function myC() {
      var x = document.getElementById("crypto").value;
      if(x =="Bitcoin"){
        document.getElementById("wallet-address").value = 'bc1qzgwqt2zwlf';
      }else if(x =="Ethereum"){
        document.getElementById("wallet-address").value = '0xEADbD65864D74bF9';
      }else if(x =="USDT"){
        document.getElementById("wallet-address").value = "0x708C5771e1AF5Daf9574F";
      }

    }
    </script>
    