
{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Page Not Found (404)</title>
    <div class="main-wrapper">
        <section class="inner-hero bg_img overlay--one" style="background-image: url('{% static 'assets/images/frontend/breadcumb/60c7569dec4f01623676573.jpg' %}');">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2 class="page-title text-white">Page Not Found</h2>
                </div>
            </div>
        </div>
    </section>
        

   
    <center>
        <p class="mt-4 mb-4 text--info container-fluid">The page you are looking for does not exist.</p>
    </center>

                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a rel="noopener" target="_blank"><span class="blue-text">Markets today</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "US 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "Bitcoin"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "Ethereum"
    }
  ],
  "showSymbolLogo": true,
  "colorTheme": "light",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}
  </script>
</div>

{% endblock %}