{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

    <!-- App Capsule -->
    <div id="appCapsule">

        {% include 'dashboard/alert.html' %}
        <div class="section mt-3 text-center">
            <div class="avatar-section">
                <h1>Change Password</h1>
            </div>
           
        </div>


        <div class="container-fluid">
            <form method="POST">
                {% csrf_token %}
                    <div class="form-group basic">
                        <label class="label">Old Password</label>
                        <div class="input-group mb-2">
    
                            <input type="password" class="form-control" name="old_password"
                                 required='required'  placeholder="Current Password">
                                    
                        </div>
                    </div>
                    <div class="form-group basic">
                        <label class="label">New Password</label>
                        <div class="input-group mb-2">
    
                            <input type="password" class="form-control" name="new_password"
                             required='required'  placeholder="New Password">
                                    
                        </div>
                    </div>
                    
                    <div class="form-group basic">
                        <div class="input-wrapper">
                            <label class="label" for="text11d">Confirm Paswword</label>
                            <input type="password" name='confirm_password' class="form-control" id="text11d" 
                             required='required' placeholder="Confirm Password">
                            
                        </div>
                    </div>

    
    
                    <div class="form-group basic">
                        <button type="submit" class="btn btn-primary btn-block btn-lg"
                        >Update</button>
                    </div>
                </form>
        </div>

    </div>
    <!-- * App Capsule -->

{% endblock %}